---
title: Kasper's Place
layout: default
---
	<body class="no-sidebar">
		{% include tracking.html %}
		{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">

					<!-- Content -->
						<article class="box post">
							<header>
								<h2>About me</h2>
							</header>
							<p>
								I'm a passionate web developer who takes a great interest in my field. Originally from copenhagen, I moved to Berlin in March '15, and am loving it here.
								While I only have around 4 years of proffesional experience, I've gotten quite a bit around, and am a confident and efficient developer. I love to think
								about the bigger picture in projects, and am always trying to figure better ways to gradually improve the ways systems work.
								In my current job this has meant detaching and re-attaching pieces of a monolith, splitting things out, attempting to centralize sources of truth,
								and optimizing heaver parts of our systems. I'm a fan of ruby, but I'm not hesitant to point to a better tool when one exists.
								I am a sucker for talks and whiteups, and always try to see the potential of the tools i come across in a professional context.
							</p>
							<p>
								In my free time I have a broad variety of interests, I play piano, read books, play board- and computergames, and I have 3 little gerbils: McLovin, Yoda, and Vanilla Ice.
								I'm a pretty easy guy to strike a conversation with, and even though I still don't know a sea of people in Germany, I find myself trying to keep up with social life too.
							</p>
							<section>
								<header>
									<h3>Technologies I'm familiar with</h3>
								</header>
								<p>
									I'm not good at on-spot list-compilation, but I'll try to list at least some of the things I've worked with:

									<ul>
										<li>Redis</li>
										<li>Postgres</li>
										<li>Elasticsearch</li>
										<li>Grape</li>
										<li>Rspec</li>
										<li>Capybara</li>
										<li>Trailblazer</li>
										<li>Phoenix</li>
										<li>Angular</li>
										<li>React</li>
										<li>Heroku</li>
										<li>Aws/S3</li>
										<li>..and much more</li>
									</ul>
								</p>
							</section>
						</article>

				</div>
			</div>
