---
title: Kasper's Place
layout: default
---
	<body class="no-sidebar">
		{% include tracking.html %}
		{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">

					<!-- Content -->
						<article class="box post">
							<header>
								<h2>About me</h2>
							</header>
							<p>
                I'm a passionate developer (and these days tech lead) who takes
                a great interest in my field.  Originally from Copenhagen, I
                moved to Berlin in March '15 and am loving it here.  I've been
                programming mainly ruby since 2012, and while I've stuck with
                mostly ruby (and the occasional javascript and elixir) I've
                gotten quite a bit around in different types of systems. I
                engage in whatever product I'm working on, and am motivated by
                having impact on people through tech that I can be proud of. I'm
                most at home when I'm learning and evolving.
							</p>
							<p>
                In my free time I have a broad variety of interests, I play
                piano, read books, play board- and computergames, and I have a
                little gerbil, McLovin.  I'm a pretty easy guy to strike a
                conversation with, and even though I still don't know a sea of
                people in Germany, I find myself trying to keep up with social
                life too.
							</p>
							<section>
								<header>
									<h3>Technologies I'm familiar with</h3>
								</header>
								<p>
									I'm not good at on-spot list-compilation, but I'll try to list at least some of the things I've worked with:

									<ul>
										<li>Redis</li>
										<li>Postgres</li>
										<li>MySQL/MariaDB</li>
										<li>Elasticsearch</li>
										<li>Docker</li>
										<li>Grape</li>
										<li>Rspec</li>
										<li>Capybara</li>
										<li>Trailblazer</li>
										<li>Phoenix</li>
										<li>Angular 1</li>
										<li>React</li>
										<li>Heroku</li>
										<li>Aws/S3</li>
										<li>..and much more</li>
									</ul>
								</p>
							</section>
						</article>

				</div>
			</div>
