---
title: Curriculum Vitae
layout: curriculum
---
<body class="curriculum">
	{% include tracking.html %}
	{% include nav.html %}

	<section id="cd-timeline" class="cd-container">

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<i class="icon timeline fa-diamond"></i>
			</div>

			<div class="cd-timeline-content">
				<h2>SolarisBank</h2>
				<p>
					I am currently working for SolarisBank as a senior ruby
					developer in the team responsible for identification. This
					entails writing ruby services interfacing with our internal
					system, external providers, and customer-facing API.
				</p>
				<a href="http://www.dawanda.de" class="cd-read-more">DaWanda Website</a>
				<span class="cd-date">November 2017</span>
			</div>
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<i class="icon timeline fa-diamond"></i>
			</div>

			<div class="cd-timeline-content">
				<h2>DaWanda</h2>
				<p>
					I worked as a backend engineer at DaWanda in
					Berlin. I was working in their mobile
					team, responsible for the mobile-facing API, porting of
					features from the legacy platform, and general backend
					development.
				</p>
				<a href="http://www.dawanda.de" class="cd-read-more">DaWanda Website</a>
				<span class="cd-date">December 2016</span>
			</div>
		</div>


		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<i class="icon timeline fa-diamond"></i>
			</div>

			<div class="cd-timeline-content">
				<h2>Cubits</h2>
				<p>
					At cubits I was working on their ruby microservice
					application. This meant both client-facing and deep
					backend, and involved primarily Ruby, RabbitMQ, and Docker.
				</p>
				<a href="https://www.cubits.com" class="cd-read-more">Cubits Website</a>
				<span class="cd-date">April 2016</span>
			</div>
		</div>


		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<i class="icon timeline fa-diamond"></i>
			</div>

			<div class="cd-timeline-content">
				<h2>Autobutler</h2>
				<p>I'm have currently been working for autobutler for two years, working our web-app and API across four contries. My day to day work touches a variety of projects, primarily in ruby, but occationally in javascript frameworks (angular and react), and lately a bit of elixir. Being on a team of around 10 developers, I usually take part in all the steps from design to production on the projects I'm involved in, as well as doing day-to-day bugfixing and maintaining.</p>
				<a href="https://www.autobutler.de" class="cd-read-more">Autobutler Website</a>
				<span class="cd-date">Febuary 2014</span>
			</div>
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<i class="icon timeline fa-diamond"></i>
			</div>

			<div class="cd-timeline-content">
				<h2>Lasertech A/S</h2>
				<p>While I was studying, I worked for the industrial laser-cutting company Lasertech. I was working up upgrading a Rails 2 intranet application to Rails 4, rewriting things along the way, and fixing and improving the system. I initially was working on this alone, but in last half year taught a junior developer.</p>
				<a href="http://lasertech.dk" class="cd-read-more">Lasertech website (Danish)</a>
				<p>(I did not work on the website)</p>
				<span class="cd-date">July 2013</span>
			</div>
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<i class="icon timeline fa-diamond"></i>
			</div>

			<div class="cd-timeline-content">
				<h2>DTIC</h2>
				<p>While studying, I spend a year working for the Technical University of Denmark's Interactive Library. This was primarily Rails, exposing a massive dataset. I also touched upon XSLT while working here.</p>
				<a href="http://www.bibliotek.dtu.dk/" class="cd-read-more">DTU's Library site (Danish)</a>
				<span class="cd-date">October 2012</span>
			</div>
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<i class="icon timeline fa-book"></i>
			</div>

			<div class="cd-timeline-content">
				<h2>Technical University of Denmark</h2>
				<p>I studied for a bachelor in software engineering, but left for fulltime work after two years.</p>
				<span class="cd-date">September 2012</span>
			</div>
		</div>
	</section> <!-- cd-timeline -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="assets/js/main.js"></script> <!-- Resource jQuery -->
</body>
